*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',sans-serif;
}
/*
===================
common css
===================
*/
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.text-center{
	text-align: center;
}
.gray-bg{	
	background: #FFF8F3;
}
.btn-primary{
	color: #fff;
	background: #FD6E0A;
	border: none;
	padding: 14px 30px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
}
.bg-transparent{
	color: #FD6E0A;
	background: transparent;
	border: 1px solid #FD6E0A;
	font-weight: 600;
}

/*
===================
Header Styles
===================
*/
header{
	background: url("../images/header_bg.png")right bottom no-repeat , url("../images/developer.png")left no-repeat;
	background-color: #FFF8F3;
	background-size: 55%, 70px, auto;
}
nav{
	display: flex;
	justify-content: space-between;
	margin: 0 230px;
	padding: 50px 0;
	align-items: center;
}
h2.logo a{
	color: #181818;	
	font-size: 42px;
	font-weight: 700;
}
.logo a span{
	color: #FD6E0A;
}
nav ul{
	display: flex;
	align-items: center;
}
nav ul li{
	margin-left: 30px;
}
nav ul li a{
	color: #474747;
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
}

/*
===============
Banner
===============
*/
.banner{
	display: flex;
	align-items: center;
	margin: 0 80px 0 230px;
}
.banner-desc .sub-title{
	font-size: 42px;
	font-weight: 400;
	color: #474747;
}
.banner-desc .banner-title{	
	color: #181818;		
	font-size: 75px;		
	font-weight: 700;		
	margin: 10px 0;
}
.banner-desc p{
	font-size: 18px;
	color: #757575;
	margin: 10px 0 20px 0;
}
.banner .btn-primary{
	margin-right: 20px;
}
.banner img{
	text-align: right;
}

/*
====================
About Section Style
====================
*/
.about{		
	max-width: 1140px;
	margin: 110px auto;
}
.container{
	padding: 110px 150px;
	text-align: center;
}
.summary-resume h3,
.what-do h3,
.container h3{
	font-size: 35px;
	margin-bottom: 25px;
	text-align: center;
}
.container p {
	padding: 10px 30px;
	line-height: 30px;
}
.sub-abouts{
	display: flex;
	justify-content: space-around;
}

/*
===================
What We Do
===================
 */

.what-do{
	text-align: center;
	margin: 80px 110px;
}
.what-do-title-desc{	
	margin-top: 20px;
	margin-bottom: 50px;
}
.what-do p{
	line-height: 28px;
}
.what-do-cards{
	display: flex;
	gap: 30px;
}
.what-do-cards .card{
	background-color: #fff;
	box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06) ;
	text-align: left;
	border-radius: 5px;
	padding: 30px 15px;
}
.what-do-cards .card h4{
	margin: 20px 0;
}


/*
========================
summary resume 
========================
*/
.summary-resume{
	margin: 0 110px;
	padding: 50px 20px;
}
.resume-details{
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin-top: 40px;
}
.resume-details p{
	color: #757575;
}
.resume-details .my-experience,
.resume-details .my-education{
	padding: 15px 10px;
}
.resume-details .my-education h4,
.resume-details .my-experience h4{
	font-size: 28px;
	color: #474747;
}
.resume-details .my-education h5,
.resume-details .my-experience h5{
	font-size: 18px;
	color: #474747;
	margin: 15px 0 8px 0;
}
.resume-date{
	font-size: 18px;
	color: #757575;
	font-weight: 500;
	margin-bottom: 10px;	
}
hr{
	color: #757575;
	margin-top: 20px;
	margin-bottom: 20px;
}
.edu-box p{
	font-size: 16px;
}

/*
==================
footer
==================
*/
footer.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 80px 110px;
	background: #FFF8F3;
}
.footer-social,
.footer-form{
	flex-direction: column;
	width: 50%;
}
.footer-form{
	margin-left: 60px;
}
.ft-title{
	font-size: 24px;
	margin-bottom: 25px;
}
.social-icons{
	margin-top: 30px;
	display: flex;
}
.social-icons li{
	margin-right: 15px;
}
.social-icons li a{
	color: #FD6E0A;
	font-size: 24px;
}
/*form*/
.footer-form form input,
.footer-form form textarea{
	display: block;
	width: 70%;
	padding: 12px 8px;
	margin-bottom: 15px;
	border: none;
}
.footer-form form input:focus,
.footer-form form textarea:focus{
	outline: none;
}
.footer-form .btn-primary{
	cursor: pointer;
}

