*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans',sans-serif;
}
/*common css*/
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.btn-primary{
	color: #fff;
	background: #FD6E0A;
	border: none;
	padding: 18px 30px;
	font-weight: 600;
	border-radius: 5px;
	display: inline-block;
}
.bg-transparent{
	color: #FD6E0A;
	background: transparent;
	border: 1px solid #FD6E0A;
	font-weight: 600;
}

/*Header Styles*/
header{
	background: url("../images/header_bg.png")right bottom no-repeat , url("../images/developer.png")left no-repeat;
	background-color: #FFF8F3;
	background-size: 55%, 70px, auto;
}
nav{
	display: flex;
	justify-content: space-between;
	margin: 0 230px;
	padding: 50px 0;
	align-items: center;
}
h2.logo a{
	color: #181818;	
	font-size: 42px;
	font-weight: 700;
}
.logo a span{
	color: #FD6E0A;
}
nav ul{
	display: flex;
	align-items: center;
}
nav ul li{
	margin-left: 30px;
}
nav ul li a{
	color: #474747;
	font-size: 20px;
	font-weight: 400;
	text-transform: capitalize;
}

/*Banner*/
.banner{
	display: flex;
	align-items: center;
	margin: 0 80px 0 230px;
}
.banner-desc .sub-title{
	font-size: 42px;
	font-weight: 400;
	color: #474747;
}
.banner-desc .banner-title{	
	color: #181818;		
	font-size: 75px;		
	font-weight: 700;		
	margin: 10px 0;
}
.banner-desc p{
	font-size: 18px;
	color: #757575;
	margin: 10px 0 20px 0;
}
.banner .btn-primary{
	margin-right: 20px;
}
.banner img{
	text-align: right;
}

/*About Section Style*/
.about{		
	max-width: 1140px;
	margin: 110px auto;
}
.container{
	padding: 110px 150px;
	text-align: center;
	background: #FFF8F3;
}
.about .container h3{
	font-size: 35px;
	margin-bottom: 25px;
}
.about .container p {
	padding: 15px 30px;
	line-height: 30px;
}
.sub-abouts{
	display: flex;
	justify-content: space-around;
}







/* yellow-color: #FD6E0A; */
/* paragtraph-color: #757575; */
/* h1-color: #181818; */
/* sub heading-color: #474747; */
/* bg-color: #FFF8F3; */
